.r-scroll-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 50;
}

.r-scroll-progress__filler {
    background: var(--color-accent);
    height: 100%;
    width: 0;
}
